* {
    margin: 0;
}

@font-face {
    font-family: 'lostar';
    src: url('./assets/fonts/Lostar.ttf') format('truetype');
}

@font-face {
    font-family: 'high';
    src: url('./assets/fonts/high.ttf') format('truetype');
}

@font-face {
    font-family: 'jmh';
    src: url('./assets/fonts/jmh.ttf') format('truetype');
}



